# vim:set et ft=conf fdm=marker sw=4 sts=4 ts=4 nopaste :

# 注释符号 ＃ 开头的行都会被 Git 忽略。
# 标准的 glob 模式匹配，glob 模式是 shell 简化的正则表达式
# 惊叹号（!）取反

# [ git 中忽略的文件 / 目录 ]
#--------------------------------------------
# 忽略所有(隐藏/普通)文件/目录
#*
# 忽略所有目录，注释后,显示普通目录，需要另外添加规则忽略普通目录
#*/

# 忽略所有隐藏文件/目录
.*
# 忽略所有隐藏目录
#.*/

# [ 其他忽略 ]
#--------------------------------------------

# [ 忽略普通目录 ]# {{{
#--------------------------------------------
bs/
cnf/
Desktop/
gfvwm/
green_fvwm/
me/
public_html/
python/
script/
sfvwm/
svn/
workspace/
black.fvwm/
dock.fvwm/
l.fvwm/
simple.fvwm/
xp.fvwm/
# }}}

.config/
.fvwm/
.lftp/
.ncmpcpp/
.purple/
.vimperator/my.vimp
.vimperator/info/

# [ 排除 ]# {{{
#--------------------------------------------

# [ 普通文件 ]
#--------------------------------------------
!README

# [ 隐藏文件 ]
#--------------------------------------------
!.bashrc
!.conkyrc
!.emacs
!.fonts.conf
!.gitconfig
!.gitignore
!.mpdconf
!.musca_start
!.my.cnf
!.rtorrent.rc
!.screenrc
!.stalonetrayrc
!.tmux.conf
!.vimrc
!.vimperatorrc
!.Xdefaults
!.xinitrc
!.zshrc



# [ 目录 ]
#--------------------------------------------
#!.emacs.d/
#!.fvwm/config
#!.fvwm/fvwm.dock
!.vimperator/
!.fvwm/config
!.aria2/
!.purple/prefs.xml
!.ssh/
!.vim/
!.config/fcitx/config
!.lftp/rc
!.ncmpcpp/config


# }}}


