# git config --global user.name "MY NAME"
# git config --global user.email myemail@example.com
# XXX 配置git 参数变量
#  --system，针对系统"所有用户"，配置文件在 /etc/gitconfig
#  --global，针对系统"当前用户"，配置文件在 ~/.gitconfig
#  不带参数，针对"当前 git仓库"，配置文件在 .git/config

[user]
	name = lvii
	email = 57lvii@gmail.com
[core]
	editor = vim
[merge]
	tool = vimdiff
[color]
	ui = auto
